
IonoSphere_data

In [237]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam,SGD

In [238]:
# Load Data
data = pd.read_csv("/content/drive/MyDrive/ionosphere_data.txt")
data.head(4)

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      g
1         1         0   1.00000  ...   -0.13738   -0.02447      b
2         1         0   1.00000  ...    0.56045   -0.38238      g
3         1         0   1.00000  ...   -0.32382    1.00000      b

[4 rows x 35 columns]

In [239]:
#Encoding
data['label']=data['label'].map({'g':1,'b':0})
data.head(4)

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      1
1         1         0   1.00000  ...   -0.13738   -0.02447      0
2         1         0   1.00000  ...    0.56045   -0.38238      1
3         1         0   1.00000  ...   -0.32382    1.00000      0

[4 rows x 35 columns]

In [240]:
data.shape

(351, 35)

In [241]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 35 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature1   351 non-null    int64
 1   feature2   351 non-null    int64
 2   feature3   351 non-null    float64
 3   feature4   351 non-null    float64
 4   feature5   351 non-null    float64
 5   feature6   351 non-null    float64
 6   feature7   351 non-null    float64
 7   feature8   351 non-null    float64
 8   feature9   351 non-null    float64
 9   feature10  351 non-null    float64
 10  feature11  351 non-null    float64
 11  feature12  351 non-null    float64
 12  feature13  351 non-null    float64
 13  feature14  351 non-null    float64
 14  feature15  351 non-null    float64
 15  feature16  351 non-null    float64
 16  feature17  351 non-null    float64
 17  feature18  351 non-null    float64
 18  feature19  351 non-null    float64
 19  feature20  351 non-null    float64
 20  feature21  351 non-null    float64
 21  feature22  351 non-null    float64
 22  feature23  351 non-null    float64
 23  feature24  351 non-null    float64
 24  feature25  351 non-null    float64
 25  feature26  351 non-null    float64
 26  feature27  351 non-null    float64
 27  feature28  351 non-null    float64
 28  feature29  351 non-null    float64
 29  feature30  351 non-null    float64
 30  feature31  351 non-null    float64
 31  feature32  351 non-null    float64
 32  feature33  351 non-null    float64
 33  feature34  351 non-null    float64
 34  label      351 non-null    int64
dtypes: float64(32), int64(3)
memory usage: 96.1 KB

In [242]:
data.describe()

         feature1  feature2    feature3  ...   feature33   feature34       label
count  351.000000     351.0  351.000000  ...  351.000000  351.000000  351.000000
mean     0.891738       0.0    0.641342  ...    0.349364    0.014480    0.641026
std      0.311155       0.0    0.497708  ...    0.522663    0.468337    0.480384
min      0.000000       0.0   -1.000000  ...   -1.000000   -1.000000    0.000000
25%      1.000000       0.0    0.472135  ...    0.000000   -0.165350    0.000000
50%      1.000000       0.0    0.871110  ...    0.409560    0.000000    1.000000
75%      1.000000       0.0    1.000000  ...    0.813765    0.171660    1.000000
max      1.000000       0.0    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 35 columns]

In [243]:
data.isnull().sum()

feature1     0
feature2     0
feature3     0
feature4     0
feature5     0
feature6     0
feature7     0
feature8     0
feature9     0
feature10    0
feature11    0
feature12    0
feature13    0
feature14    0
feature15    0
feature16    0
feature17    0
feature18    0
feature19    0
feature20    0
feature21    0
feature22    0
feature23    0
feature24    0
feature25    0
feature26    0
feature27    0
feature28    0
feature29    0
feature30    0
feature31    0
feature32    0
feature33    0
feature34    0
label        0
dtype: int64

In [244]:
X=data.loc[:,data.columns!='label']
Y=data.loc[:,data.columns=='label']

In [245]:
print(X.shape,Y.shape)

(351, 34) (351, 1)

In [246]:
# Normalizing the data
mean = X.mean(axis=0)
X -= mean

std = X.std(axis=0)
X /= std

In [247]:
X.head()

   feature1  feature2  feature3  ...  feature32  feature33  feature34
0  0.347937       NaN  0.711357  ...  -1.053550  -0.311776  -0.998170
1  0.347937       NaN  0.720619  ...  -0.115049  -0.931276  -0.083167
2  0.347937       NaN  0.720619  ...  -0.463431   0.403867  -0.847381
3  0.347937       NaN  0.720619  ...   1.954525  -1.287987   2.104295
4  0.347937       NaN  0.720619  ...  -1.152581  -0.756593  -1.433689

[5 rows x 34 columns]

In [248]:
X.describe()

           feature1  feature2  ...     feature33     feature34
count  3.510000e+02       0.0  ...  3.510000e+02  3.510000e+02
mean  -1.382243e-16       NaN  ...  3.289550e-17  1.051707e-17
std    1.000000e+00       NaN  ...  1.000000e+00  1.000000e+00
min   -2.865899e+00       NaN  ... -2.581707e+00 -2.166132e+00
25%    3.479366e-01       NaN  ... -6.684296e-01 -3.839757e-01
50%    3.479366e-01       NaN  ...  1.151723e-01 -3.091814e-02
75%    3.479366e-01       NaN  ...  8.885286e-01  3.356126e-01
max    3.479366e-01       NaN  ...  1.244848e+00  2.104295e+00

[8 rows x 34 columns]

In [249]:
X.feature2.isnull().sum()

351

In [250]:
X1=X.drop(columns='feature2')

In [251]:
X1.head(5)

   feature1  feature3  feature4  ...  feature32  feature33  feature34
0  0.347937  0.711357 -0.233923  ...  -1.053550  -0.311776  -0.998170
1  0.347937  0.720619 -0.527058  ...  -0.115049  -0.931276  -0.083167
2  0.347937  0.720619 -0.176746  ...  -0.463431   0.403867  -0.847381
3  0.347937  0.720619 -1.123568  ...   1.954525  -1.287987   2.104295
4  0.347937  0.720619 -0.154908  ...  -1.152581  -0.756593  -1.433689

[5 rows x 33 columns]

In [252]:
X1.shape

(351, 33)

In [253]:
# Split Data
from sklearn.model_selection import train_test_split
X1_train,X1_test,Y_train,Y_test= train_test_split(X1,Y,test_size=0.40,random_state=8)

In [254]:
model = Sequential()
model.add(tf.keras.layers.Dense(16, activation='relu',input_shape=(X1_train.shape[1],)))
model.add(tf.keras.layers.Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['acc'])

In [256]:
model.fit(X1_train,Y_train,epochs=100, batch_size=16, verbose=1)

Epoch 1/100
14/14 [==============================] - 1s 2ms/step - loss: 1.0165 - acc: 0.6398
Epoch 2/100
14/14 [==============================] - 0s 2ms/step - loss: 0.9298 - acc: 0.6440
Epoch 3/100
14/14 [==============================] - 0s 2ms/step - loss: 0.8977 - acc: 0.6011
Epoch 4/100
14/14 [==============================] - 0s 2ms/step - loss: 0.8177 - acc: 0.6184
Epoch 5/100
14/14 [==============================] - 0s 1ms/step - loss: 0.7577 - acc: 0.6513
Epoch 6/100
14/14 [==============================] - 0s 2ms/step - loss: 0.7007 - acc: 0.6772
Epoch 7/100
14/14 [==============================] - 0s 2ms/step - loss: 0.6544 - acc: 0.6849
Epoch 8/100
14/14 [==============================] - 0s 2ms/step - loss: 0.5787 - acc: 0.7499
Epoch 9/100
14/14 [==============================] - 0s 1ms/step - loss: 0.5850 - acc: 0.7059
Epoch 10/100
14/14 [==============================] - 0s 2ms/step - loss: 0.5228 - acc: 0.7189
Epoch 11/100
14/14 [==============================] - 0s 3ms/step - loss: 0.5323 - acc: 0.7728
Epoch 12/100
14/14 [==============================] - 0s 1ms/step - loss: 0.4668 - acc: 0.8069
Epoch 13/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4867 - acc: 0.7978
Epoch 14/100
14/14 [==============================] - 0s 2ms/step - loss: 0.4798 - acc: 0.7941
Epoch 15/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3799 - acc: 0.8563
Epoch 16/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3735 - acc: 0.8507
Epoch 17/100
14/14 [==============================] - 0s 1ms/step - loss: 0.3867 - acc: 0.8452
Epoch 18/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3302 - acc: 0.8782
Epoch 19/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3321 - acc: 0.8958
Epoch 20/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3336 - acc: 0.8988
Epoch 21/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3508 - acc: 0.8769
Epoch 22/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3116 - acc: 0.9025
Epoch 23/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3101 - acc: 0.8860
Epoch 24/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2716 - acc: 0.9006
Epoch 25/100
14/14 [==============================] - 0s 2ms/step - loss: 0.3024 - acc: 0.8883
Epoch 26/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2758 - acc: 0.8945
Epoch 27/100
14/14 [==============================] - 0s 1ms/step - loss: 0.2583 - acc: 0.9147
Epoch 28/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2107 - acc: 0.9463
Epoch 29/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2441 - acc: 0.9014
Epoch 30/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2354 - acc: 0.9210
Epoch 31/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2263 - acc: 0.9190
Epoch 32/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2313 - acc: 0.9158
Epoch 33/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2241 - acc: 0.9188
Epoch 34/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2237 - acc: 0.9127
Epoch 35/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2292 - acc: 0.9138
Epoch 36/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2476 - acc: 0.8948
Epoch 37/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1970 - acc: 0.9252
Epoch 38/100
14/14 [==============================] - 0s 2ms/step - loss: 0.2065 - acc: 0.9021
Epoch 39/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1785 - acc: 0.9274
Epoch 40/100
14/14 [==============================] - 0s 1ms/step - loss: 0.2125 - acc: 0.9171
Epoch 41/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1660 - acc: 0.9433
Epoch 42/100
14/14 [==============================] - 0s 3ms/step - loss: 0.1902 - acc: 0.9110
Epoch 43/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1811 - acc: 0.9213
Epoch 44/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1699 - acc: 0.9355
Epoch 45/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1965 - acc: 0.9169
Epoch 46/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1648 - acc: 0.9337
Epoch 47/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1957 - acc: 0.9231
Epoch 48/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1968 - acc: 0.9245
Epoch 49/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1434 - acc: 0.9472
Epoch 50/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1385 - acc: 0.9461
Epoch 51/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1747 - acc: 0.9241
Epoch 52/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1864 - acc: 0.9130
Epoch 53/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1537 - acc: 0.9244
Epoch 54/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1466 - acc: 0.9375
Epoch 55/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1286 - acc: 0.9553
Epoch 56/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1590 - acc: 0.9436
Epoch 57/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1384 - acc: 0.9389
Epoch 58/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1638 - acc: 0.9394
Epoch 59/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1479 - acc: 0.9411
Epoch 60/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1062 - acc: 0.9622
Epoch 61/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1411 - acc: 0.9382
Epoch 62/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1217 - acc: 0.9489
Epoch 63/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1134 - acc: 0.9545
Epoch 64/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1099 - acc: 0.9604
Epoch 65/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1408 - acc: 0.9341
Epoch 66/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1382 - acc: 0.9336
Epoch 67/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1299 - acc: 0.9413
Epoch 68/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1110 - acc: 0.9529
Epoch 69/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1283 - acc: 0.9412
Epoch 70/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1314 - acc: 0.9454
Epoch 71/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1217 - acc: 0.9443
Epoch 72/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1048 - acc: 0.9622
Epoch 73/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1228 - acc: 0.9343
Epoch 74/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1252 - acc: 0.9465
Epoch 75/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1064 - acc: 0.9682
Epoch 76/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1302 - acc: 0.9423
Epoch 77/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1225 - acc: 0.9483
Epoch 78/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1280 - acc: 0.9356
Epoch 79/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1086 - acc: 0.9587
Epoch 80/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1305 - acc: 0.9431
Epoch 81/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1019 - acc: 0.9599
Epoch 82/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1172 - acc: 0.9492
Epoch 83/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0881 - acc: 0.9687
Epoch 84/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1192 - acc: 0.9449
Epoch 85/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1023 - acc: 0.9565
Epoch 86/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0884 - acc: 0.9640
Epoch 87/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1218 - acc: 0.9456
Epoch 88/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1236 - acc: 0.9412
Epoch 89/100
14/14 [==============================] - 0s 2ms/step - loss: 0.1312 - acc: 0.9245
Epoch 90/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0740 - acc: 0.9770
Epoch 91/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0848 - acc: 0.9598
Epoch 92/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0735 - acc: 0.9706
Epoch 93/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0959 - acc: 0.9526
Epoch 94/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0730 - acc: 0.9713
Epoch 95/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0848 - acc: 0.9565
Epoch 96/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0791 - acc: 0.9594
Epoch 97/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0876 - acc: 0.9539
Epoch 98/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0689 - acc: 0.9694
Epoch 99/100
14/14 [==============================] - 0s 1ms/step - loss: 0.0810 - acc: 0.9545
Epoch 100/100
14/14 [==============================] - 0s 2ms/step - loss: 0.0848 - acc: 0.9529

In [257]:
prediction=model.predict(X1_test)
M=prediction.round()
M

array([[0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.]], dtype=float32)

In [258]:
import numpy as np
np.where(M>0, "Good","Baad")

array([['Baad'],
       ['Good'],
       ['Baad'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Baad'],
       ['Baad'],
       ['Good'],
       ['Baad'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Baad'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Good'],
       ['Baad'],
       ['Baad'],
       ['Good']], dtype='<U4')